* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
  font-family: 'Acme', sans-serif;
  /* outline: 1px solid red; */
}

html {
  scroll-behavior: smooth;
}

:root {
  --vdark : #000000;
  --dark : #E7F3FF;
  --light : #F0F2F5;
  --vlight : #fff;
  --max-h: 891px;
}

.bg-vdark {
  background-color: var(--vdark);
}
.bg-dark {
  background-color: var(--dark);
}
.bg-light {
  background-color: var(--light);
}
.bg-vlight {
  background-color: var(--vlight);
}
.vh100 {
  height: 100vh;
}
.h100 {
  height: 100%;
}
.mh100 {
  min-height: 100vh; 
}
.vw100 {
  width: 100vw;
}
.w100 {
  width: 100%;
}
.w50 {
  width: 50%;
}
.vw50 {
  width: 50vw;
}
.limited-height {
  max-height: var(--max-h);
}
.rounded {
  border-radius: 50%;
}

.p1rem {
  padding: 1rem;
}
.m1rem {
  margin: 1rem;
}

.hidden-overflow {
  overflow: hidden;
}
.relative {
  position: relative;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex {
  display: flex;
}
.justify-content-center {
  justify-content: center;
}
.align-items-center {
  align-items: center;
}
.text-center {
  text-align: center;
}
.flex-column {
  flex-direction: column;
}

.grid {
  display: grid;
}
.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* ------------page 1 - header ------------------- */
header {
  position: sticky;
  position: -webkit-sticky;
  z-index: 2000;
}
/* header {
  background-image: 
    url(/img/mohammad-rahmani-IGiut6NQmxc-unsplash.jpg);
  background-position: center;
  background-size: cover;
} */
#hanger {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  transform: translate(0, 100%);
  z-index: 6;
  width: 100%;
}
nav {
  height: 0;
  width: 100%;
  position: absolute;
  top: 100%;
  opacity: .90;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
#ava {
  background-image: 
    url(https://image.shutterstock.com/z/stock-photo-side-view-closeup-of-beautiful-and-colorful-lorikeet-green-naped-bird-trichoglossus-haematodus-1482640220.jpg);
  background-size: 150%;
}
#ava {
  max-width: 250px;
  max-height: 250px;
  position: absolute;
  left: 50%;
  /* transform: translate(-50%, 5vh); */
  border-radius: 50%;
  z-index: 4;
}
#logo {
  height: 45px;
  position: absolute;
  left: 50%;
  /* transform: translate(-50%, 53vh) scale(3); */
  font-size: 1.2rem;
}
#ul, .btnmenu {
  position: absolute;
  right: 50%;
  /* transform: translate(50%, 65vh); */
}
#ul {
  list-style: none;
  height: 45px;
}
#ul a {
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
}
#ul a:hover, .btnmenu:hover {
  /* background-color: var(--light); */
  cursor: pointer;
}
#ul a:active, .btnmenu:active {
  background-color: var(--light);
}
#ul li {
  padding: 0 1rem;
}
#btnmenu {
  display: none;
  position: absolute;
  height: 45px;
  font-size: 1.2rem;
  padding: 0 1rem;
}

/* page 2 */
#left-demo {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  width: 100%;
  padding: 1rem;
}
.text-container {
  max-width: 500px;
}
#right-demo {
  height: 300vh;
}
#circle-animation {
  width: 25vh;
  height: 25vh;
  background-color: var(--vlight);
  position: absolute;
  top: 100%;
  right: 50%;
  transform: translate(-100%, -100%) scale(0);
  border-radius: 46% 32%;
  z-index: -3;
  /* animation: spin 10s infinite linear; */
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}


/* ----------------------------
-------about me-------
------------------------------- */

#aboutme {
  padding: 45px 0;
}

#skills {
  /* grid-template-columns: repeat( auto-fit, minmax(340px, 1fr) ); */
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  padding: 3rem;
}

.tile {
  background-color: var(--vlight);
  min-height: 320px;
  transform: scale(0);
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

/* ----------------------
------------slider-page ------------
----------------------*/
.slider-page {
  grid-template-columns: 1fr 1fr;
}

#left-panel {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 10;
}

.slider {
  width: 100%;
  min-height: 200px;
  transform: translateX(1000px) scale(1);
  margin-bottom: 1rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

#round-animate {
  width: 100%;
  height: 100%;
  transform: scale(0);
}

@media (max-width: 768px) {
  #skills {
    /* grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) ); */
    padding: 1rem;
    padding-bottom: 3rem;
  }
  .slider-page {
    grid-template-columns: 1fr;
  }
  #left-panel {
    top: 45px;
    height: 45px !important;
  }
  #round-animate {
    display: none !important;
  }
  #demo {
    flex-direction: column;
  }
  #left-demo {
    width: 100%;
  }
  #right-demo {
    width: 100%;
  }
}

/* @media (min-width: 1200px){
  .skills {
    grid-template-columns: repeat( auto-fit, minmax(380px, 1fr) );
  }
} */

@media (max-width: 500px) {
  #skills {
    grid-template-columns: 1fr;
  }
  #ul li {
    padding: 0 .5rem;
  }
  #ava {
    max-height: 200px;
    max-width: 200px;
  }

  .hide {
    display: none !important;
  }
  .show {
    display: flex !important;
  }
  .expand {
    display: fixed !important;
    top: 45px !important;
    left: 0 !important;
    right: 0 !important;
    height: auto !important;
    flex-direction: column;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);

  }
  .adjust {
    width: 100% !important;
    height: 45px !important;
    display: flex !important;
    justify-content: center !important;
    background-color: var(--vlight);
    opacity: .95;
  }
}
